

// img{
// }

.runNow{
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.validate{
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.schedule{
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.approveNow{
    height: 30px;
    width: 30px;
    padding-right: 10px;
}


