

// img{
// }

.runNow{
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.validate{
    height: 30px;
    width: 35px;
    padding-right: 10px;
}

.schedule{
    height: 30px;
    width: 32px;
    padding-right: 10px;
}

.approveNow{
    height: 30px;
    width: 38px;
    padding-right: 10px;
}


