

// img{
// }

.runNow{
    height: 24px;
    width: 28px;
    padding-right: 10px;
}

.validate{
    height: 22px;
    width: 27px;
    padding-right: 10px;
}

.schedule{
    height: 21px;
    width: 26px;
    padding-right: 10px;
}

.approveNow{
    height: 23px;
    width: 31px;
    padding-right: 10px;
}


