<button routerLink="/workflow/add" class="add-btn">
    New Validator
</button>
<button class="heath-btn">
  Health DashBoard
</button>

<div class="search-btn">
<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
  <input type="text" nz-input placeholder="search" />
</nz-input-group>
<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
</ng-template>

</div>

<br>
<br>
<br>

<hr>

<app-validators-details></app-validators-details>
