<div class="top-container">
<span>
<button routerLink="/workflow/add" class="add-btn">
    New Validator
</button>
</span>

<span>
<button class="heath-btn">
  Health DashBoard
</button>
</span>
<span>
<div class="search-btn">
<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
  <input type="text" nz-input placeholder="search" />
</nz-input-group>
<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
</ng-template>

</div>
</span>

</div>


<!-- <br> -->
<!-- <br>
<br> -->

<hr>

<app-validators-details></app-validators-details>
