.add-btn{
    float: right;
    background: #92D050;
    width: 200px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    color: white;

}

.heath-btn{
    width: 200px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    background: #2D4A85;
    position: relative;
    left: 830px;
    font-size: 18px;
    color: white;
}

.search-btn{
    width: 300px;
    position: relative;
    bottom: 35px;
}

a{
    display: flex;
    color: black;
    // margin-right: 4px;
}

.plus-img{
    position: relative;
    right: 30px;
}

hr{
    border: 1px solid black;
}